/* Browser Reset */
* {
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}

p {
  font-size: .95em;
  margin-bottom: 1.5em;
}

h2,
h3,
a {
  color: #093a58;
}

h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}
/* Header Styles */
.wrapper > * {
  /* outline: 1px solid black;  */
}

header > .wrapper > nav > div > * {
  /* outline: 1px solid blue; */
}

header {
  background: #3acec2;
  padding: 1.5em 0;
  margin-bottom: 1.875em;
  text-align: center;
}
nav {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  height: 15em;
  justify-content: space-between;
}
nav > div {
  width: 100%;
  background-color: rgba(200, 200, 200, 0.5);
  padding: 0.5em;
  display: flex;
  flex-direction: column;
}
header h1 a,
nav a {
  color: white;
}
header .wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* main content styles */
main {
  padding: 1em;
}
/* Footer Styles */
footer {
  text-align: center;
  background: #d9e4ea;
  padding: 2em 1em;
}
@media (min-width: 800px) {
  main .wrapper {
    display: flex;
  }
  .wrapper .container {
    padding: 0.5em;
  }
  nav {
    flex-direction: row;
    height: 100%;
  }
  nav > div {
    flex-direction: row;
    justify-content: space-around;
  }
}
